h1 {
    font-size: 72px;
    line-height: 1;
}
h2 {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 800;
}
h3 {
    font-size: 21px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 40px;
}
h4 {
    font-size: 15px;
    font-weight: 800;
    line-height: 3;
}
h5 {
    font-size: 15px;
}
p, copyright {
    color: $color-grey-dark;
}
.more {
    color: $color-white;
    font-weight: 800;
    font-size: 16px;
    position: relative;
    padding-right: 20px;
    transition-duration: 0.3s;
    &::after {
        @include arrow(8px, 5px, $color-white, right);
        top: 5px;
        right: 0;
        transition-duration: 0.3s;
    }
    &:hover {
        color: $color-red;
        &::after {
            border-color: $color-red;
        }
    }
}
@media screen and (max-width: $mobile) {
    .more {
        font-size: 12px;
        font-weight: 600;
        &::after {
            @include arrow(6px, 3px, $color-white, right);
            top: 2px;
        }    
    }
}

.btn-red {
    position:relative;
    display: block;
    background-color: $color-red;
    box-shadow: inset 0 -3px 4px 2px rgba(0,0,0,.4);
    color: $color-white;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 15px;
    transition-duration: 0.3s;

    &::after {
        @include arrow(6px, 3px, $color-white, right);
        top: 13px;
        right: 10px;
    }
    &:hover {
        background-color: darken($color-red, 10%);
    }
}
