{% include "partials/_head.html" %}


<div class="page">
    
{% include "partials/_header.html" %}
    <div id="content">
        <ul class="breadcrumbs">
            <li><a href="index.html">Home</a></li>
            <li>Blog</li>
        </ul>
        <h1 class="heading-blog-post">WELCOME TO THE AGENCY PRO BLOG</h1>
        <div class="flex">
            <div class="blog">
                <div class="post standard-post">
                    <img src="../assets/images/post-img.png" alt="img" width="100%">
                    <div class="flex-wrap-reverse">
                        <div class="col-1">
                            <p><strong>Posted: </strong>9th Nov 2012</p>
                            <p><strong>Tags: </strong><a href="#">Standard</a></p>
                            <p><strong>Comments: </strong><a href="#">43</a></p>
                        </div>
                        <div class="col-2">
                            <a href="#"><h2>Bringing iMessage to the Desktop</h2></a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam enim enim, pharetra in sodales at, interdum sit amet dui. Nullam vulputate euismod urna non pharetra. Phasellus blandit mattis ipsum, ac laoreet lorem lacinia et. Cras et ligula libero. Quisque quis… </p>
                            <a href="#" class="more">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="post gallery-post">
                    <div class="gallery-post-slides">
                        <div class="swiper-wrapper">
                            <img class="img-slide" src="../assets/images/post-img.png" alt="slide">
                            <img class="img-slide" src="../assets/images/post-img1.png" alt="slide">
                            <img class="img-slide" src="../assets/images/post-img.png" alt="slide">
                            <img class="img-slide" src="../assets/images/post-img1.png" alt="slide">
                            <img class="img-slide" src="../assets/images/post-img.png" alt="slide">
                        </div>
                        <div class="pagination"></div>
                    </div>
                    <div class="flex-wrap-reverse">
                        <div class="col-1">
                            <p><strong>Posted: </strong>9th Nov 2012</p>
                            <p><strong>Tags: </strong><a href="#">Gallery</a></p>
                            <p><strong>Comments: </strong><a href="#">21</a></p>
                        </div>
                        <div class="col-2">
                            <a href="#"><h2>Bringing iMessage to the Desktop</h2></a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam enim enim, pharetra in sodales at, interdum sit amet dui. Nullam vulputate euismod urna non pharetra. Phasellus blandit mattis ipsum, ac laoreet lorem lacinia et. Cras et ligula libero. Quisque quis… </p>
                            <a href="#" class="more">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="post video-post">
                    <video width="100%" controls="controls">
                        <source src="https://www.w3schools.com/html/mov_bbb.mp4">
                    </video>
                    <div class="flex-wrap-reverse">
                        <div class="col-1">
                            <p><strong>Posted: </strong>9th Nov 2012</p>
                            <p><strong>Tags: </strong><a href="#">Video</a></p>
                            <p><strong>Comments: </strong><a href="#">23</a></p>
                        </div>
                        <div class="col-2">
                            <a href="#"><h2>Show amazing video clips</h2></a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam enim enim, pharetra in sodales at, interdum sit amet dui. Nullam vulputate euismod urna non pharetra. Phasellus blandit mattis ipsum, ac laoreet lorem lacinia et. Cras et ligula libero. Quisque quis… </p>
                            <a href="#" class="more">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="post link-post">
                    <div class="flex-wrap-reverse">
                        <div class="col-1">
                            <p><strong>Posted: </strong>9th Nov 2012</p>
                            <p><strong>Tags: </strong><a href="#">Link</a></p>
                            <p><strong>Comments: </strong><a href="#">5</a></p>
                        </div>
                        <div class="col-2">
                            <a href="#"><h2>A quick external link post</h2></a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam enim enim, pharetra in sodales at, interdum sit amet dui. Nullam vulputate euismod urna non pharetra. Phasellus blandit mattis ipsum, ac laoreet lorem lacinia et. Cras et ligula libero. Quisque quis… </p>
                            <a href="#" class="more">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="post audio-post">
                    <div class="flex-wrap-reverse">
                        <div class="col-1">
                            <p><strong>Posted: </strong>9th Nov 2012</p>
                            <p><strong>Tags: </strong><a href="#">Audio</a></p>
                            <p><strong>Comments: </strong><a href="#">12</a></p>
                        </div>
                        <div class="col-2">
                            <div class="audio">
                                <audio controls>
                                        <source src="">
                                </audio>  
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam enim enim, pharetra in sodales at, interdum sit amet dui. Nullam vulputate euismod urna non pharetra. Phasellus blandit mattis ipsum, ac laoreet lorem lacinia et. Cras et ligula libero. Quisque quis… </p>
                            <a href="#" class="more">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="post quote-post">
                    <div class="flex-wrap-reverse">
                        <div class="col-1">
                            <p><strong>Posted: </strong>9th Nov 2012</p>
                            <p><strong>Tags: </strong><a href="#">Quote</a></p>
                            <p><strong>Comments: </strong><a href="#">14</a></p>
                        </div>
                        <div class="col-2">
                            <a href="#">
                                <blockquote>
                                    <q>Lorem ipsum dolor sit amet, consectetur sodales at, interdum sit amet dui. Nullam blandit mattis ipsum, ac laoreet lorem.</q>
                                </blockquote>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="post aside-post">
                    <div class="flex-wrap-reverse">
                        <div class="col-1">
                            <p><strong>Posted: </strong>9th Nov 2012</p>
                            <p><strong>Tags: </strong><a href="#">Aside</a></p>
                            <p><strong>Comments: </strong><a href="#">5</a></p>
                        </div>
                        <div class="col-2">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam enim enim, pharetra in sodales at, interdum sit amet dui. Nullam vulputate euismod urna non pharetra. Phasellus blandit mattis ipsum, ac laoreet lorem lacinia et. Cras et ligula libero. Quisque quis… </p>
                            <a href="#" class="more">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="page-switch flex">
                    <a href="#" class="previous">PREVIOUS</a>
                    <div class="numbers">
                        <a class="active" href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                    </div>
                    <a href="#" class="next">NEXT</a>
                </div>
            </div> <!-- / blog -->
            <aside>
                <div class="panel">
                    <h3>LATEST POST</h3>
                    <ul>
                        <li><a href="#">Example Blog Posts</a></li>
                        <li><a href="#">Example Blog Posts</a></li>
                        <li><a href="#">Example Blog Posts</a></li>
                        <li><a href="#">Example Blog Posts</a></li>
                        <li><a href="#">Example Blog Posts</a></li>
                    </ul>
                </div>
                <div class="panel tags">
                    <h3>TAGS</h3>
                    <div class="flex">
                        <a href="#">Example Tag</a>
                        <a href="#">Example Tag</a>
                        <a href="#">Example Tag</a>
                        <a href="#">Example Tag</a>
                        <a href="#">Example Tag</a>
                        <a href="#">Example Tag</a>
                        <a href="#">Example Tag</a>
                        <a href="#">Example Tag</a>
                        <a href="#">Example Tag</a>
                        <a href="#">Example Tag</a>
                        <a href="#">Example Tag</a>
                        <a href="#">Example Tag</a>
                        <a href="#">Example Tag</a>
                    </div>
                </div>
                <div class="panel">
                    <h3>CATEGORIES</h3>
                    <ul>
                        <li><a href="#">Example Category</a></li>
                        <li><a href="#">Example Category</a></li>
                        <li><a href="#">Example Category</a></li>
                        <li><a href="#">Example Category</a></li>
                        <li><a href="#">Example Category</a></li>
                    </ul>
                </div>
                <div class="panel">
                    <h3>TWITTER</h3>
                    <div class="flex twit-block">
                        <a href="#" class="icon"><img src="../assets/images/twit.png" alt="twit"></a>
                        <div class="twit">
                            <p>New theme sneak peek: Artifex Pro <a href="#" class="inside">http://t.co/n50OTl6Z</a> coming soon!</p>
                            <div class="hashtags">
                                <a href="#word-press">#Word-Press</a>
                                <a href="#themes">#themes</a>
                            </div>
                            <p class="time-ago">(about 1 day ago)</p>
                        </div>
                    </div>
                    <div class="flex twit-block">
                        <a href="#" class="icon"><img src="../assets/images/twit.png" alt="twit"></a>
                        <div class="twit">
                            <p>If you've already signed up (and there's a lot of you that already have) we've emailed you about partial refunds. Email us if not received</p>
                            <p class="time-ago">(about 1 day ago)</p>
                        </div>
                    </div>
            </aside>
        </div> <!-- / flex -->
    </div>    <!-- / content -->

    {% include "partials/_footer.html" %}
    