{% include "partials/_head.html" %}


<div class="page">
    
{% include "partials/_header.html" %}
    <div id="content">
        <ul class="breadcrumbs">
            <li><a href="index.html">Home</a></li>
            <li>Contact</li>
        </ul>
        <div class="contact-inform pierce-white">
            <h1>L'ETS TALK!</h1>
            <P>Approachable and friendly, we welcome the opportunity to chat about how we can help you get more from your digital project. Whether you want a free, no obligation consultation or just a quick chat please give us a call on 
                <a href="callto:01234 567 890">01234 567 890</a> 
            </P>
            <p>Or complete the form below and we'll get right back to you.</p>
        </div>
        <div class="NY-panorama">
            <form class="contact-form">
                <div class="titles">
                    <h2>Make an enquiry.</h2>
                    <h2>We’ll reply today - we promise!</h2>
                </div>
                <textarea class="field" cols="30" rows="10" required placeholder="How can we help *"></textarea>
                <div class="flex">
                    <input class="field" type="text" required placeholder="Name *">
                    <input class="field" type="text" placeholder="Company">
                    <input class="field" type="email" required placeholder="Email address *">
                    <input class="field" type="tel" required placeholder="Telephone *">
                </div>
                <div class="flex-wrap-reverse">
                    <p>Fields marked with <span>*</span> are mandatory</p>
                    <button class="btn-red">GET IN TOUCH</button>
                </div>
            </form>
        </div>
        <div class="postcode-form pierce-white">
            <div class="titles">
                <h2>Want to come and see us in person?</h2>
                <p>We’ll put the kettle on</p>
            </div>
            <p>Need Directions? Tell us where you’re traveling from...</p>
            <div class="form-group">
                <input class="field" type="text" placeholder="Your postcode">
                <button></button>
            </div>
        </div>
        <div class="map-block">
            <div class="map" id="map">
            </div>
        </div>
        <div class="two-columns flex">
            <div class="col-2">
            <h4>Agency Pro</h4>
            <p>You’ll find us in the old cotton mill on Luck Lane, just behind the Horse & Shoe brewery and taps. 
                Parking is plentiful and it’s free, so you don’t need to dig deep for any loose change.
            </p>
            <p>On arrival, please come into our reception, someone will be there to welcome you.</p>
        </div>
        <div class="col-1">
            <h4>Contact Details</h4>
            <ul>
                <li><a href="#">Agency Pro</a></li>
                <li><a href="#">Address Line 1,</a></li>
                <li><a href="#">Address Line 2,</a></li>
                <li><a href="#">Address Line 3,</a></li>
                <li><a href="#">Country,</a></li>
                <li><a href="#">Post Code</a></li>
            </ul>
        </div>

        </div>
    
    </div>    <!-- / content -->

{% include "partials/_footer.html" %}

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-3rK2-lItH56VD2-EzzpTLR-JM1SWQa0&callback=initMap">
</script>
