{% include "partials/_head.html" %}


<div class="page index">

    {% include "partials/_header.html" %}

  <div class="main-slideshow swiper-container">
    <div class="swiper-wrapper">
      <div class="slide slide-1">
        <div class="info"><span>We’re an award winning digital agency who have helped businesses of all sizes for over 10 years</span></div>
        <a href="#" class="more">FIND OUT MORE</a>
      </div>
      <div class="slide slide-2">
          <div class="info">
            <strong class="title">LATEST CASE STUDY</strong>
            <h2>Rebrand of the Mum network of sites</h2>
            <P>Full rebrand of this parenting network of sites, which helps parents find information about child care and offers a safe community to exchange advice and experiences.</P>
            </div>
          <a href="#" class="more">FIND OUT MORE</a>
      </div>
      <div class="slide slide-3">
          <div class="info">
            <strong class="title">WE`RE RECRUTING!</strong>
            <h2>We have a number of vacancies open for some top ninja talent</h2>
            </div>
          <a href="#" class="more">FIND OUT MORE</a>
      </div>
      <div class="slide slide-4">
        <blockquote>
          <q>We are absolutely delighted with the results. They produced a website which not only stands out from the crowd but also fits perfectly with our brand and our service.</q>
          <cite><strong>TOM HISKEY,</strong>THE LAW WIZARD</cite>
        </blockquote>
        <a class="law-wizard" href="#"><img src="../assets/images/LawWizard.png" alt="the law wizard"></a>
      </div>
      <div class="slide slide-5">
        <div class="center-box">
          <h2>NEW YORK NEW YORK!</h2>
          <h4>CHECK OUT OUR NEW OFFICE SPACE</h4>
        </div>
        <a href="#" class="marker"><img src="../assets/images/map-marker.png" alt="marker"></a>
      </div>
      <div class="slide slide-6">
          <div class="center-box">
            <h1>AGENCY <strong>PRO</strong></h1>
            <h4>a Premium WordPress business theme</h4>
            <p>Agency Pro is a premium WordPress theme designed for highly confient and visual companies looking to make an impact and turn a few noses - very nice!</p>
          </div>
      </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-pagination"></div>
    <a class="btn-down" href=#content>DISCOVER MORE</a>
  </div>  
  <!-- main-slideshow -->
  
  <div id="content">
    <div class="columns pierce-white flex">
      <div class="col">
        <h3>DIGITAL AGENCY</h3>
        <img src="../assets/images/digital_agensy.png" alt="digital agensy">
        <p>We have been delivering digital strategies for companies of all sizes for the last 15 years.</p>
        <a href="#" class="btn-red">VIEW OUR SERVICES</a>
      </div>
      <div class="col">
          <h3>MEET THE TEAM</h3>
          <img src="../assets/images/meet_the_team.png" alt="meet the team">
          <p>We recruit the greatest minds in the business who help deliver great results for our clients.</p>
          <a href="#" class="btn-red">MEET THE TEAM</a>
        </div>
        <div class="col">
            <h3>CASE STUDIES</h3>
            <img src="../assets/images/case_studies.png" alt="case studies">
            <p>We continuously beat our clients expectations and we’re ready and waiting to beat yours.</p>
            <a href="#" class="btn-red">VIEW OUR CASE STUDIES</a>
          </div>
    </div>

    <div class="carousel-wrapper pierce-grey">
      <div class="carousel">
        <h2>CASE STUDIES</h2>
        <span class="sub-title">Some hand picked work for your perusal</span>
        <div class="gallery swiper-wrapper">
          <a href="#" class="figure figure-gallery">
            <div class="swiper-wrapper">
              <img class="slide-img" src="../assets/images/refresh_pro.png" alt="refresh pro">
              <img class="slide-img" src="../assets/images/artifex_pro.png" alt="artifex pro">
              <img class="slide-img" src="../assets/images/autos_pro.png" alt="autos pro">
            </div>
            <div class="pagination"></div>
            <h4>REFRESH PRO</h4>
            <p>A Premium WordPress Business Theme</p>
          </a>

          <a href="#" class="figure figure-gallery">
            <div class="swiper-wrapper">
              <img class="slide-img" src="../assets/images/artifex_pro.png" alt="artifex pro">
              <img class="slide-img" src="../assets/images/autos_pro.png" alt="autos pro">
              <img class="slide-img" src="../assets/images/refresh_pro.png" alt="refresh pro">
            </div>
            <div class="pagination"></div>
            <h4>ARTIFEX PRO</h4>
            <p>A Premium WordPress Portfolio Theme</p>
          </a>

          <a href="#" class="figure">
              <img src="../assets/images/autos_pro.png" alt="autos pro">
              <h4>AUTOS PRO</h4>
              <p>An Automobile WordPress Theme</p>
          </a> 
          <a href="#" class="figure">
              <img src="../assets/images/refresh_pro.png" alt="refresh pro">
              <h4>REFRESH PRO</h4>
              <p>A Premium WordPress Business Theme</p>
          </a>  
        </div>
        <div class="carousel-btn-holder">
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>  
        </div>
      </div>
    </div>
    <div class="container">
      <h2>WELCOME TO AGENCY PRO</h2>
      <span class="sub-title">The perfect WordPress theme for service based companies</span>
      <div class="three-columns">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </div>
  </div> <!-- / content -->


  {% include "partials/_footer.html" %}
