{% include "partials/_head.html" %}


<div class="page">
    
{% include "partials/_header.html" %}
<div id="content">
    <div class="breadcrumbs">
        <a href="index.html">Home</a>
        <span>Case Studies</span>
    </div>
    <div class="columns two-columns flex">
        <div class="col">
            <h2>WE’VE BEEN SUPER BUSY!</h2>
        </div>
        <div class="col">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ad minim veniam</p>
            <a href="#" class="more">GET IN TOUCH</a>
        </div>
    </div>
    <div class="illustration slide-2">
        <div class="title">FEATURED CASE STUDY</div>
        <h2>Rebrand of the Mum network of sites</h2>
        <P>Full rebrand of this parenting network of sites, which helps parents find information about child care and offers a safe community to exchange advice and experiences.</P>
        <a href="#" class="more">FIND OUT MORE</a>
    </div>
    <div class="flex">
        <div class="titles">
            <h2>MORE CASE STUDIES</h2>
            <p>Hand picked for your perusal</p>
        </div>
        <form class="filter">
            <select>
                <option hidden>Filter our work</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </form>
    </div>

    <div class="gallery flex">
        <div class="figure figure-gallery">
            <div class="swiper-wrapper">
                <img class="slide-img" src="../assets/images/refresh_pro.png" alt="refresh pro">
                <img class="slide-img" src="../assets/images/artifex_pro.png" alt="artifex pro">
                <img class="slide-img" src="../assets/images/autos_pro.png" alt="autos pro">
            </div>
            <div class="pagination"></div>
            <h4>REFRESH PRO</h4>
            <p>A Premium WordPress Business Theme</p>
        </div>

        <div class="figure figure-gallery">
            <div class="swiper-wrapper">
                <img class="slide-img" src="../assets/images/artifex_pro.png" alt="artifex pro">
                <img class="slide-img" src="../assets/images/autos_pro.png" alt="autos pro">
                <img class="slide-img" src="../assets/images/refresh_pro.png" alt="refresh pro">
            </div>
            <div class="pagination"></div>
            <h4>ARTIFEX PRO</h4>
            <p>A Premium WordPress Portfolio Theme</p>
        </div>

        <div class="figure figure-gallery">
            <div class="swiper-wrapper">
                <img class="slide-img" src="../assets/images/autos_pro.png" alt="autos pro">
                <img class="slide-img" src="../assets/images/refresh_pro.png" alt="refresh pro">
                <img class="slide-img" src="../assets/images/artifex_pro.png" alt="artifex pro">
            </div>
            <div class="pagination"></div>
            <h4>AUTOS PRO</h4>
            <p>An Automobile WordPress Theme</p>
        </div> 


        <div class="figure figure-gallery" >
            <div class="swiper-wrapper">
                <img class="slide-img" src="../assets/images/refresh_pro.png" alt="refresh pro">
                <img class="slide-img" src="../assets/images/artifex_pro.png" alt="artifex pro">
                <img class="slide-img" src="../assets/images/autos_pro.png" alt="autos pro">
            </div>
            <div class="pagination"></div>
            <h4>REFRESH PRO</h4>
            <p>A Premium WordPress Business Theme</p>
        </div>
    
        <div class="figure figure-gallery">
            <div class="swiper-wrapper">
                <img class="slide-img" src="../assets/images/artifex_pro.png" alt="artifex pro">
                <img class="slide-img" src="../assets/images/autos_pro.png" alt="autos pro">
                <img class="slide-img" src="../assets/images/refresh_pro.png" alt="refresh pro">
            </div>
            <div class="pagination"></div>
            <h4>ARTIFEX PRO</h4>
            <p>A Premium WordPress Portfolio Theme</p>
        </div>
        <div class="figure figure-gallery">
            <div class="swiper-wrapper">
                <img class="slide-img" src="../assets/images/autos_pro.png" alt="autos pro">
                <img class="slide-img" src="../assets/images/refresh_pro.png" alt="refresh pro">
                <img class="slide-img" src="../assets/images/artifex_pro.png" alt="artifex pro">
            </div>
            <div class="pagination"></div>
            <h4>AUTOS PRO</h4>
            <p>An Automobile WordPress Theme</p>
        </div> 

        <div class="figure figure-gallery">
            <div class="swiper-wrapper">
                <img class="slide-img" src="../assets/images/refresh_pro.png" alt="refresh pro">
                <img class="slide-img" src="../assets/images/artifex_pro.png" alt="artifex pro">
                <img class="slide-img" src="../assets/images/autos_pro.png" alt="autos pro">
            </div>
            <div class="pagination"></div>
            <h4>REFRESH PRO</h4>
            <p>A Premium WordPress Business Theme</p>
        </div>
            
        <div class="figure figure-gallery">
            <div class="swiper-wrapper">
                <img class="slide-img" src="../assets/images/artifex_pro.png" alt="artifex pro">
                <img class="slide-img" src="../assets/images/autos_pro.png" alt="autos pro">
                <img class="slide-img" src="../assets/images/refresh_pro.png" alt="refresh pro">
            </div>
            <div class="pagination"></div>
            <h4>ARTIFEX PRO</h4>
            <p>A Premium WordPress Portfolio Theme</p>
        </div>

        <div class="figure figure-gallery">
            <div class="swiper-wrapper">
                <img class="slide-img" src="../assets/images/autos_pro.png" alt="autos pro">
                <img class="slide-img" src="../assets/images/refresh_pro.png" alt="refresh pro">
                <img class="slide-img" src="../assets/images/artifex_pro.png" alt="artifex pro">
            </div>
            <div class="pagination"></div>
            <h4>AUTOS PRO</h4>
            <p>An Automobile WordPress Theme</p>
        </div>            
    </div>       <!-- / gallery -->             
</div>    <!-- / content -->

{% include "partials/_footer.html" %}
