{% include "partials/_head.html" %}


<div class="page">
    
{% include "partials/_header.html" %}
    <div id="content">
        <div class="flex">
            <ul class="breadcrumbs">
                <li><a href="index.html">Home</a></li>
                <li><a href="portfolio.html">Case Studies</a></li>
                <li>Next Generation WordPress themes</li>
            </ul>
            <div class="page-switch">
                <a href="#" class="previous">PREVIOUS</a>
                <a href="#" class="next">NEXT</a>
            </div>
        </div>
        <div class="flex two-columns">
            <div class="title">
                <h1>Next generation wordpress themes</h1>
            </div>
           <div class="col-1">
               <p>FrogsThemes.com are at the forefront of premium WordPress theme development and already have an impressive, and very popular, collection in their themes gallery.</p>
            </div>
        </div>
        <div class="portfolio-slides">
            <div class="swiper-wrapper">
                <img class="slide1" src="../assets/images/portfolio_1.png" alt="case studies">
                <img class="slide1" src="../assets/images/portfolio_1.png" alt="case studies">
                <img class="slide1" src="../assets/images/portfolio_1.png" alt="case studies">
                <img class="slide1" src="../assets/images/portfolio_1.png" alt="case studies">
                <img class="slide1" src="../assets/images/portfolio_1.png" alt="case studies">
                <img class="slide1" src="../assets/images/portfolio_1.png" alt="case studies">
            </div>
            <div class="swiper-pagination"></div>
            <div class="carousel-btn-holder">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>  
            </div>
        </div>
        <div class="flex-start columns pierce-white">
            <div class="col-2">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <a href="www.frogsthemes.com">www.frogsthemes.com</a>
        </div>
        <div class="carousel-wrapper">
            <div class="carousel">
                <h2>MORE CASE STUDIES</h2>
                <span class="sub-title">Some hand picked work for your perusal</span>
                <div class="gallery swiper-wrapper">
                    <a href="#" class="figure figure-gallery">
                        <div class="swiper-wrapper">
                        <img class="slide-img" src="../assets/images/refresh_pro.png" alt="refresh pro">
                        <img class="slide-img" src="../assets/images/artifex_pro.png" alt="artifex pro">
                        <img class="slide-img" src="../assets/images/autos_pro.png" alt="autos pro">
                        </div>
                        <div class="pagination"></div>
                        <h4>REFRESH PRO</h4>
                        <p>A Premium WordPress Business Theme</p>
                    </a>
            
                    <a href="#" class="figure figure-gallery">
                        <div class="swiper-wrapper">
                        <img class="slide-img" src="../assets/images/artifex_pro.png" alt="artifex pro">
                        <img class="slide-img" src="../assets/images/autos_pro.png" alt="autos pro">
                        <img class="slide-img" src="../assets/images/refresh_pro.png" alt="refresh pro">
                        </div>
                        <div class="pagination"></div>
                        <h4>ARTIFEX PRO</h4>
                        <p>A Premium WordPress Portfolio Theme</p>
                    </a>
            
                    <a href="#" class="figure">
                        <img src="../assets/images/autos_pro.png" alt="autos pro">
                        <h4>AUTOS PRO</h4>
                        <p>An Automobile WordPress Theme</p>
                    </a> 
                    <a href="#" class="figure">
                        <img src="../assets/images/refresh_pro.png" alt="refresh pro">
                        <h4>REFRESH PRO</h4>
                        <p>A Premium WordPress Business Theme</p>
                    </a>  
                </div>
                <div class="carousel-btn-holder">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>  
                </div>
            </div>
        </div>
    </div>    <!-- / content -->

    {% include "partials/_footer.html" %}