{% include "partials/_head.html" %}


<div class="page team">
    
{% include "partials/_header.html" %}
    <div id="content" class="team">       
        <ul class="breadcrumbs">
            <li><a href="index.html">Home</a></li>
            <li>Team</li>
        </ul>
        <div class="title">
           <h1>MEET THE TEAM, WE`RE FRIENDLY!</h1>
        </div>
        <div class="team-banner-bg flex">
            <div class="team-banner-info mobile-none">
                <h3>PROJECT MANAGER</h3>
                <h2>AMELIA JENKINS (AKA “SPECS”)</h2>
                <p>Amelia has a real thirst for all things digital, and since joining AgencyPro in 2013, she has made a big impact on both the business and the accounts she has managed.</p>
                <a href="#" class="more">MEET AMELIA</a>
            </div>
            <img src="../assets/images/team-banner.png" alt="">   
        </div>
        <div class="flex">
            <div class="titles">
                <h2>MEET THE TEAM</h2>
                <p>The real set of motley crew</p>
            </div>
            <form class="filter">
                <select>
                    <option hidden>View by department</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </form>
        </div>
        <div class="gallery flex">
            <a href="#" class="figure">
                <img src="../assets/images/joe.png" alt="joe">
                <h4>JOE BLOGGS</h4>
                <p>Managing Director</p>
            </a>
            <a href="#" class="figure">
                <img src="../assets/images/john.png" alt="john">
                <h4>JOHN DOE</h4>
                <p>Creative Director</p>
            </a>
            <a href="#" class="figure">
                <img src="../assets/images/amelia.png" alt="amelia">
                <h4>AMELIA JENKINS</h4>
                <p>Project Manager</p>
            </a>
            <a href="#" class="figure">
                <img src="../assets/images/ed.png" alt="ed">
                <h4>ED SIMONSIDE</h4>
                <p>Technical Director</p>
            </a>
            <a href="#" class="figure">
                <img src="../assets/images/jack.png" alt="jack">
                <h4>JACK JOHNSON</h4>
                <p>Senior Designer</p>
            </a>
            <a href="#" class="figure">
                <img src="../assets/images/stuart.png" alt="stuart">
                <h4>STUART PEARSON</h4>
                <p>Accounts Director</p>
            </a>
        </div>
    </div>    <!-- / content -->

    {% include "partials/_footer.html" %}
