{% include "partials/_head.html" %}


<div class="page team">
    
{% include "partials/_header.html" %}
    <div id="content" class="team member">       
        <ul class="breadcrumbs">
            <li><a href="index.html">Home</a></li>
            <li><a href="index.html">Team</a></li>
            <li>Amelia Jenkins</li>
        </ul>
        <div class="page-switch-mini mobile-none">
            <a href="#" class="previous"></a>
            <a href="#" class="next"></a>
        </div>
        <div class="page-switch desktop-none">
            <a href="#" class="previous">PREVIOUS</a>
            <a href="#" class="next">NEXT</a>
        </div>
        <div class="team-banner-bg">
            <img src="../assets/images/team-banner.png" alt="">
            <div class="greeting">
                <p>HI I'M AMELIA x</p>
            </div>
        </div>
        <div class="member-info">
            <h1>AMELIA JENKINS (AKA “SPECS”)</h1>
            <h3>PROJECT MANAGER</h3>
            <div class="text">
                <p>Amelia has a real thirst for all things digital, and since joining AgencyPro in 2013, she has made a big impact on both the business and the accounts she has managed.</p>
            </div>
        </div>
        <div class="member-content flex">
            <div class="member-about">
                <h2>About Amelia</h2>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
            </div>
            <div class="member-sidebar">
                <div class="contact-social">
                    <div class="contact">
                        <h3>Contact Amelia</h3>
                        <div class="link">
                            <h4>Email</h4>
                            <a href="#" class="email">Amelia</a>       
                        </div>
                        <div class="link">
                            <h4>Call on</h4>  
                            <a href="callto:01234 567 890" class="number">01234 567 890</a>
                        </div>       
                    </div>
                    <div class="social">
                        <a href="#"><img src="../assets/images/facebook.png" alt="facebook"></a>
                        <a href="#"><img src="../assets/images/tweeter.png" alt="tweeter"></a>
                        <a href="#"><img src="../assets/images/in.png" alt="in"></a>
                    </div>
                </div>
                <div class="twit-block">
                    <h3>LATEST TWEER FROM AMELIA</h3>
                    <div class="flex">
                        <a href="#" class="icon"><img src="../assets/images/twit.png" alt="twit"></a>
                        <div class="twit">
                            <p>What a week at <a href="#">@AgencyPro</a> HQ. Looking forward to hitting the bars and clubs tonight d:^D</p>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>    <!-- / content -->

    {% include "partials/_footer.html" %}
