<footer>
    <div class="copyright-social flex">
        <copyright>© FrogsThemes 2013. All rights reserved.</copyright>
        <div class="social">
            <a href="#"><img src="../assets/images/digg.png" alt="digg"></a>
            <a href="#"><img src="../assets/images/dribbble.png" alt="drbbble"></a>
            <a href="#"><img src="../assets/images/google.png" alt="google"></a>
            <a href="#"><img src="../assets/images/tunblr.png" alt="tunblr"></a>
            <a href="#"><img src="../assets/images/vimeo.png" alt="vimeo"></a>
            <a href="#"><img src="../assets/images/you_tube.png" alt="you tube"></a>
            <a href="#"><img src="../assets/images/flickr.png" alt="flickr"></a>
            <a href="#"><img src="../assets/images/facebook.png" alt="facebook"></a>
            <a href="#"><img src="../assets/images/tweeter.png" alt="tweeter"></a>
        </div>
    </div>
    <div class="holder">
        <div class="contact-info flex">
            <div class="item">
                <h4>COMPANY</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Case Studies</a></li>
                    <li><a href="#">Business Hours</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="item">
                <h4>CONNECT</h4>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Youtube</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="item">
                <h4>BUSINES HOURS</h4>
                <div class="flex">
                    <ul>
                        <li>Monday</li>
                        <li>Tuesday</li>
                        <li>Wednesday</li>
                        <li>Thursday</li>
                        <li>Friday</li>
                        <li>Saturday</li>
                        <li>Sunday</li>
                    </ul>
                    <ul>
                        <li>9:00-18:00</li>
                        <li>9:00-18:00</li>
                        <li>9:00-18:00</li>
                        <li>9:00-18:00</li>
                        <li>9:00-18:00</li>
                        <li>Closed</li>
                        <li>Closed</li>
                    </ul> 
                </div>
            </div>
            <div class="item">
                <h4>CONTACT DETAILS</h4>
                <ul>
                    <li><a href="#">Agency Pro</a></li>
                    <li><a href="#">Address Line 1,</a></li>
                    <li><a href="#">Address Line 2,</a></li>
                    <li><a href="#">Address Line 2,</a></li>
                    <li><a href="#">Post Code</a></li>
                </ul>
                <br>
                <a href="callto:01234 567 890">Telephone: 01234 567 890</a>
            </div>
        </div>
        <a href="#" class="by">FROGSTHEMES<img src="../assets/images/frogsthemes.png" alt="">HANDMADE IN UK</a>
    </div>
</footer>