<header>
    <a class="logo" href="#"><img src="assets/images/logo.png" alt="AGENCY PRO"></a>
    <nav>
        <div class="mobile-menu" onclick="toogleMenu()">
            <img src="../../assets/images/menu.png" alt="menu"> MENU
        </div>
            <ul class="main-nav" id="main-nav">
            <li><a href="#">Menu Item</a>
                <ul class="subnav-1">
                    <li><a href="#">Lorem ipsum dolor</a>
                        <ul class="subnav-2">
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Lorem ipsum dolor sit</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem</a></li>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Lorem ipsum dolor sit</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem ipsum dolor sit</a></li>
                        </ul>
                    </li>   
                    <li><a href="#">Lorem ipsum dolor sit</a>
                        <ul class="subnav-2">
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Lorem ipsum dolor sit</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem</a></li>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Lorem ipsum dolor sit</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem ipsum dolor sit</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem</a></li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Lorem ipsum dolor sit</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum dolor sit</a></li>
                </ul>
            </li>
            <li><a href="#">Menu Item</a>
                <ul class="subnav-1">
                    <li><a href="#">Lorem ipsum dolor</a>
                        <ul class="subnav-2">
                            <li><a href="#">Lorem ipsum dolor</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Lorem ipsum dolor sit</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                </ul>
            </li>
            <li><a href="#">Menu Item</a>
                <ul class="subnav-1">
                    <li><a href="#">Lorem ipsum dolor sit</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                </ul>   
            </li>
            <li><a href="#">Menu Item</a>
                <ul class="subnav-1">
                    <li><a href="#">Lorem ipsum dolor</a>
                    <li><a href="#">Lorem ipsum dolor sit</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                </ul> 
            </li>
            <li><a href="#">Menu Item</a>
            <li><a href="#">Menu Item</a>
                </ul>   
            </li>
        </ul>
    </nav>
</header>
