/*general*/
* {
	box-sizing: border-box;
}
body, html {
	font:15px/24px $font-regular;
	height:100%;
	background: white;
	color: $color-black;
	min-width: 1180px; 
}
.page {
	min-height:100%;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
}
.wrapper {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
}
#content {
	flex: 1 0 auto;
	@extend .wrapper;
}
.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.flex-wrap-reverse {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	align-items: center;
}
.breadcrumbs {
	margin: 11px 0 30px;
	font-size: 11px;
	font-weight: 600;
	color: $color-grey-dark;

	a {
	position: relative;
	color: $color-shadow;
	padding-right: 17px;
	display: inline-flex;
		&:hover {
			text-decoration: underline;
		}
		&::after {
			@include arrow(4px, 2px, $color-shadow, right);
			right: 5px;
		}
	}
}


@media screen and (max-width: $tablet) {
	body,html {
		min-width: 768px;
	}
	#content, footer {
		padding: 0 10px;
	}
}
@media screen and (max-width: $mobile) {
	body,html {
		min-width: 320px;
	}
	.flex {
		justify-content: space-around;
	}
}