.two-columns {
    position: relative;
    .col {
        width: 31%;
        min-width: 300px;
    }
    h2 {
        font-size: 44px;
        font-weight: 400;
        line-height: 66px;
    }
    p {
        font-size: 13px;
    }
    .more {
        color: $color-red;
        font-weight: 800;
        font-size: 16px;
        &::after {
            @include arrow(8px, 5px, $color-shadow, right);
        }                        
        &:hover {
            color: $color-shadow;
            &::after {
                border-color: $color-red;
            }
        }
    }
}
.illustration {
    position: relative;
    margin: 0 -220px 30px;
    padding: 50px 220px 90px;
    background:  linear-gradient(to right, rgba(255,255,255,0) 85%, $color-white) no-repeat, 
    linear-gradient(to right, $color-white, rgba(255,255,255,0) 15%) no-repeat, 
    url("../images/banner2.png") center center/cover no-repeat;
    @include arrow-border;
    .title {
        margin-bottom: 8px;
        color: darken($color-shadow, 10);
        font-weight: 800;
        font-size: 15px;
    }
    .title-1 {
        width: 300px;
        margin-bottom: 8px;
        h2{
            text-transform: uppercase;
        } 
    }
    .holder {
        width: 280px;
    }
}
.filter {
    width: 280px;
    position: relative;
    &::after {
        @include arrow (7px, 4px, $color-shadow, down);
        top: 12px;
        right: 15px;
    }
    select {
        appearance: none;
        width: 280px;
        padding: 10px;
        color: $color-grey;
        border-radius: 3px;
    }
}
@media screen and (max-width: $mobile) {
    .two-columns {
        .col {
            margin-bottom: 30px;
        }
        h2 {
            font-size: 30px;
            font-weight: 800;
            line-height: 45px;
        }
    }    
    .filter {
        margin-bottom: 40px;
    }
    .titles
    {
        text-align: center;
    }
}